@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F1D8C9, #F2C3A7);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(136, 109, 93, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F39209;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(129, 77, 5, 0.726);
}

h2 {
    color: #125189;
}

p {
    text-align: justify;
}